{{ define "play" }}
<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
    <g id="play">
        <path d="M8 5v14l11-7z"></path>
    </g>
    <g id="pause" style="display: none;">
        <path d="M6 5h4v14H6zm8 0h4v14h-4z"></path>
    </g>
</svg>
{{ end }}

{{ define "prev" }}
<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
  <path d="M6 6h2v12H6zm3.5 6L18 18V6z"></path>
</svg>
{{ end }}

{{ define "next" }}
<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
  <path d="M16 6h2v12h-2zM6 6v12l8.5-6z"></path>
</svg>
{{ end }}

{{ define "prev-page" }}
<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
  <path d="M15 6l-6 6 6 6"></path>
</svg>
{{ end }}

{{ define "next-page" }}
<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
  <path d="M9 6l6 6-6 6"></path>
</svg>
{{ end }}