<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" }}
    <title>Spindle - Home</title>
</head>

<body>
    <div class="container">
        <div class="tabs">
            <button id="playlists" class='tab-btn {{ if eq .ActiveTab "playlists" }} active {{end}}' onclick="openTab('playlists', this)">Playlists</button>
            <button id="artists" class='tab-btn {{ if eq .ActiveTab "artists" }} active {{end}}' onclick="openTab('artists', this)">Artists</button>
            <button id="albums" class='tab-btn {{ if eq .ActiveTab "albums" }} active {{end}}' onclick="openTab('albums', this)">Albums</button>
        </div>
        {{ if .DeviceConnected }}
            {{ range .Devices }}
                <input hidden id="device-id" value="{{.ID}}" />
            {{end}}
            <div class="tab-content">
                {{ range .Content }}
                <div class="card-item" onclick='play("{{.ContextURI}}")'>
                    <img src="{{(index .Images 0).URL}}" alt="{{.Name}}">
                    <span>{{.Name}}</span>
                </div>
                {{ end }}
            </div>
        {{else}}
            <h2>Connect one device to continue</h2>
        {{end}}
        <div class="footer">
            <div class="player-controls">
                <button onclick="previous()">{{ template "prev" }}</button>
                <button onclick="togglePlay()">{{ template "play" }}</button>
                <button onclick="next()">{{ template "next" }}</button>
            </div>
        </div>
        <button onclick="disconnect()">Disconnect</button>
    </div>

    {{ template "scripts" }}

</body>

</html>