<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" }}
    <title>Spindle - Home</title>
</head>

<body>
    <div class="container">
        {{ if .DeviceConnected }}
        <div class="tabs">
            <button id="playlists" class='tab-btn active' onclick="openTab('playlists', this)">Playlists</button>
            <button id="artists" class='tab-btn' onclick="openTab('artists', this)">Artists</button>
            <button id="albums" class='tab-btn' onclick="openTab('albums', this)">Albums</button>
        </div>
        <input hidden id="device-id" value="{{.ActiveDevice.ID}}" />

        <div id="tab-content" class="tab-container">
            {{ template "tab-content" . }}
        </div>

        <div class="footer">
            <div class="current-playing">
                <strong id="playback-song">No song playing</strong>
                <span class="text-muted" id="playback-artist">...</span>
            </div>
            <input hidden id="pb_state_current_uri" value="" />
            <input hidden id="pb_state_track_uri" value="" />
            <input hidden id="pb_state_position_ms" value="" />
            <div class="player-controls">
                <button onclick="previous()">{{ template "prev" }}</button>
                <button onclick="togglePlay()">{{ template "play" }}</button>
                <button onclick="next()">{{ template "next" }}</button>
            </div>
        </div>
        {{ else }}
        <div class="disconnected">
            <h2>Start Spotify</h2>
            <p class="text-muted">Open Spotify on any device to control with <b>Spindle</b></p>
        </div>
         {{ template "polling_device" }}
        {{ end }}
        <button class="btn-disconnect" onclick="disconnect()">Disconnect</button>
    </div>

    {{ template "scripts" }}

</body>

</html>